{% extends 'base.html.twig' %}

{% block body_class %}class="sidebar-mini"{% endblock %}

{% block body %}
    <div class="wrapper">

    <div class="sidebar" data-color="rose" data-background-color="black" data-image="{{ asset('img/sidebar-1.jpg') }}">
        <div class="logo">
            <a href="{{ path('home_index') }}" class="simple-text logo-mini">
                <i class="fab fa-themeisle fa-2x"></i>
            </a>
            <a href="{{ path('home_index') }}" class="simple-text logo-normal">
                Intra
            </a>
        </div>

        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <span>{{ app.user.firstname|first|capitalize }}{{ app.user.secondname|first|capitalize }}</span>
                </div>
                <div class="user-info">
                    <a href="{{ path('logout') }}" class="username">
                    <span>
                       {{ app.user.firstname }} {{ app.user.secondname }} <i class="fas fa-sign-out-alt float-right"></i>
                    </span>
                    </a>
                </div>
            </div>
            <ul class="nav">

                <li class="nav-item ">
                    <a class="nav-link" href="../dashboard.html">
                        <i class="material-icons">dashboard</i>
                        <p> Dashboard </p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('prelevement_index') }}">
                        <i class="fas fa-hand-holding-usd"></i>
                        <p>Gerer les prélevements</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                        <i class="fas fa-wrench fa-1x"></i>
                        <p> Administration
                            <b class="caret"></b>
                        </p>
                    </a>

                    <div class="collapse" id="pagesExamples">
                        <ul class="nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('user_compte_new') }}">
                                    <span class="sidebar-mini"> UC </span>
                                    <span class="sidebar-normal"> Associer User / Compte </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('banque_index') }}">
                                    <span class="sidebar-mini"> AB </span>
                                    <span class="sidebar-normal"> Ajouter un banque </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('compte_index') }}">
                                    <span class="sidebar-mini"> AC </span>
                                    <span class="sidebar-normal"> Ajouter un compte </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-background" style="background-image: url({{ asset('img/sidebar-1.jpg') }}) "></div>

    <div class="main-panel">
        <section class="content">
            <div class="container-fluid">
                {% block body_layout %}{% endblock %}
            </div>
        </section>
    </div>

{% endblock %}